In [ ]:
#hacer todo esto de las provincias españolas
#poblacion, salario minimo, porcentaje de jovenes, si tienen ya un parque o no, numero de visitantes (extranjeros o locales)

In [54]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="openpyxl")

In [55]:
poblacion_españa = pd.read_csv('C:/Users/noeli/Downloads/2852.csv', sep=';') 

print(poblacion_españa.columns)

print(poblacion_españa['Periodo'].dtype)

#Quedarme solo con 2021
población_españa = poblacion_españa[poblacion_españa['Periodo'] == 2021]
poblacion_españa['Periodo'] = pd.to_numeric(poblacion_españa['Periodo'], errors='coerce')
poblacion_españa_filtrada = poblacion_españa[poblacion_españa['Periodo'] == 2021]
print(poblacion_españa_filtrada)

Index(['Provincias', 'Sexo', 'Periodo', 'Total'], dtype='object')
int64
       Provincias     Sexo  Periodo       Total
0           Total    Total     2021  47.385.107
26          Total  Hombres     2021  23.222.953
52          Total  Mujeres     2021  24.162.154
78    02 Albacete    Total     2021     386.464
104   02 Albacete  Hombres     2021     193.205
...           ...      ...      ...         ...
4004     51 Ceuta  Hombres     2021      42.208
4030     51 Ceuta  Mujeres     2021      41.309
4056   52 Melilla    Total     2021      86.261
4082   52 Melilla  Hombres     2021      43.603
4108   52 Melilla  Mujeres     2021      42.658

[159 rows x 4 columns]

In [56]:
definitivo = poblacion_españa_filtrada.pivot(index='Provincias', columns='Sexo', values='Total').reset_index()

In [57]:
definitivo

Sexo                 Provincias     Hombres     Mujeres       Total
0                01 Araba/Álava     164.252     169.374     333.626
1                   02 Albacete     193.205     193.259     386.464
2           03 Alicante/Alacant     932.018     949.744   1.881.762
3                    04 Almería     373.136     358.656     731.792
4                      05 Ávila      79.562      78.859     158.421
5                    06 Badajoz     331.025     338.918     669.943
6             07 Balears, Illes     584.853     588.155   1.173.008
7                  08 Barcelona   2.791.250   2.923.480   5.714.730
8                     09 Burgos     177.920     178.135     356.055
9                    10 Cáceres     192.951     196.607     389.558
10                     11 Cádiz     614.084     631.876   1.245.960
11        12 Castellón/Castelló     291.415     295.649     587.064
12               13 Ciudad Real     243.763     248.828     492.591
13                   14 Córdoba     380.473     396.316     776.789
14                 15 Coruña, A     537.004     583.130   1.120.134
15                    16 Cuenca      98.118      97.398     195.516
16                    17 Girona     393.769     392.827     786.596
17                   18 Granada     453.683     467.655     921.338
18               19 Guadalajara     134.624     130.964     265.588
19                  20 Gipuzkoa     354.717     371.316     726.033
20                    21 Huelva     260.581     265.254     525.835
21                    22 Huesca     113.607     110.657     224.264
22                      23 Jaén     310.323     316.867     627.190
23                      24 León     219.532     232.174     451.706
24                    25 Lleida     224.156     215.571     439.727
25                 26 Rioja, La     157.823     161.973     319.796
26                      27 Lugo     157.892     168.121     326.013
27                    28 Madrid   3.229.700   3.521.551   6.751.251
28                    29 Málaga     829.976     865.675   1.695.651
29                    30 Murcia     760.362     758.124   1.518.486
30                   31 Navarra     327.465     334.072     661.537
31                   32 Ourense     146.495     158.728     305.223
32                  33 Asturias     482.665     529.127   1.011.792
33                  34 Palencia      78.841      80.282     159.123
34               35 Palmas, Las     561.281     567.258   1.128.539
35                36 Pontevedra     455.910     488.365     944.275
36                 37 Salamanca     158.874     168.464     327.338
37    38 Santa Cruz de Tenerife     512.899     531.506   1.044.405
38                 39 Cantabria     283.378     301.129     584.507
39                   40 Segovia      77.071      76.592     153.663
40                   41 Sevilla     951.083     996.769   1.947.852
41                     42 Soria      44.920      43.827      88.747
42                 43 Tarragona     410.656     411.653     822.309
43                    44 Teruel      68.287      66.258     134.545
44                    45 Toledo     356.418     352.985     709.403
45         46 Valencia/València   1.267.961   1.321.351   2.589.312
46                47 Valladolid     252.843     266.518     519.361
47                   48 Bizkaia     557.416     596.918   1.154.334
48                    49 Zamora      83.551      85.174     168.725
49                  50 Zaragoza     473.354     494.098     967.452
50                     51 Ceuta      42.208      41.309      83.517
51                   52 Melilla      43.603      42.658      86.261
52                        Total  23.222.953  24.162.154  47.385.107

In [58]:
import re
definitivo["Provincias"] = definitivo["Provincias"].str.replace(r"^\d+\s*", "", regex=True)

In [122]:
definitivo

Sexo              Provincias     Hombres     Mujeres       Total
0                Araba/Álava     164.252     169.374     333.626
1                   Albacete     193.205     193.259     386.464
2           Alicante/Alacant     932.018     949.744   1.881.762
3                    Almería     373.136     358.656     731.792
4                      Ávila      79.562      78.859     158.421
5                    Badajoz     331.025     338.918     669.943
6             Balears, Illes     584.853     588.155   1.173.008
7                  Barcelona   2.791.250   2.923.480   5.714.730
8                     Burgos     177.920     178.135     356.055
9                    Cáceres     192.951     196.607     389.558
10                     Cádiz     614.084     631.876   1.245.960
11        Castellón/Castelló     291.415     295.649     587.064
12               Ciudad Real     243.763     248.828     492.591
13                   Córdoba     380.473     396.316     776.789
14                 Coruña, A     537.004     583.130   1.120.134
15                    Cuenca      98.118      97.398     195.516
16                    Girona     393.769     392.827     786.596
17                   Granada     453.683     467.655     921.338
18               Guadalajara     134.624     130.964     265.588
19                  Gipuzkoa     354.717     371.316     726.033
20                    Huelva     260.581     265.254     525.835
21                    Huesca     113.607     110.657     224.264
22                      Jaén     310.323     316.867     627.190
23                      León     219.532     232.174     451.706
24                    Lleida     224.156     215.571     439.727
25                 Rioja, La     157.823     161.973     319.796
26                      Lugo     157.892     168.121     326.013
27                    Madrid   3.229.700   3.521.551   6.751.251
28                    Málaga     829.976     865.675   1.695.651
29                    Murcia     760.362     758.124   1.518.486
30                   Navarra     327.465     334.072     661.537
31                   Ourense     146.495     158.728     305.223
32                  Asturias     482.665     529.127   1.011.792
33                  Palencia      78.841      80.282     159.123
34               Palmas, Las     561.281     567.258   1.128.539
35                Pontevedra     455.910     488.365     944.275
36                 Salamanca     158.874     168.464     327.338
37    Santa Cruz de Tenerife     512.899     531.506   1.044.405
38                 Cantabria     283.378     301.129     584.507
39                   Segovia      77.071      76.592     153.663
40                   Sevilla     951.083     996.769   1.947.852
41                     Soria      44.920      43.827      88.747
42                 Tarragona     410.656     411.653     822.309
43                    Teruel      68.287      66.258     134.545
44                    Toledo     356.418     352.985     709.403
45         Valencia/València   1.267.961   1.321.351   2.589.312
46                Valladolid     252.843     266.518     519.361
47                   Bizkaia     557.416     596.918   1.154.334
48                    Zamora      83.551      85.174     168.725
49                  Zaragoza     473.354     494.098     967.452
50                     Ceuta      42.208      41.309      83.517
51                   Melilla      43.603      42.658      86.261
52                     Total  23.222.953  24.162.154  47.385.107

In [59]:
pip install dateparser

Requirement already satisfied: dateparser in c:\users\noeli\appdata\local\programs\python\python311\lib\site-packages (1.2.2)
Requirement already satisfied: python-dateutil>=2.7.0 in c:\users\noeli\appdata\roaming\python\python311\site-packages (from dateparser) (2.9.0.post0)
Requirement already satisfied: pytz>=2024.2 in c:\users\noeli\appdata\local\programs\python\python311\lib\site-packages (from dateparser) (2025.2)
Requirement already satisfied: regex>=2024.9.11 in c:\users\noeli\appdata\local\programs\python\python311\lib\site-packages (from dateparser) (2025.10.23)
Requirement already satisfied: tzlocal>=0.2 in c:\users\noeli\appdata\local\programs\python\python311\lib\site-packages (from dateparser) (5.3.1)
Requirement already satisfied: six>=1.5 in c:\users\noeli\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7.0->dateparser) (1.17.0)
Requirement already satisfied: tzdata in c:\users\noeli\appdata\local\programs\python\python311\lib\site-packages (from tzlocal>=0.2->dateparser) (2025.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

# Ruta del archivo Excel
archivo = "C:/Users/noeli/Downloads/9.-Estadisticas_Septiembre_2025.xlsx"

hoja = 0  

# Leer solo el rango B6:D56
df = pd.read_excel(
    archivo,
    sheet_name=hoja,
    usecols="B:D",
    skiprows=5, 
    nrows=51      
)

In [123]:
import pandas as pd
aeropuertos_comunidades = pd.read_excel("C:/Users/noeli/Downloads/aeropuertos_comerciales_españa.xlsx")

In [124]:
aeropuertos1 = aeropuertos_comunidades.drop(columns=["Código IATA", "Ciudad principal", "Comunidad Autónoma"])
aeropuertos2 = aeropuertos1.rename(columns={"Provincia": "Provincias"})

In [18]:
pip install lxml

Requirement already satisfied: lxml in c:\users\noeli\appdata\local\programs\python\python311\lib\site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [125]:
import requests
import pandas as pd
from bs4 import BeautifulSoup


url = "https://sede.agenciatributaria.gob.es/AEAT/Contenidos_Comunes/La_Agencia_Tributaria/Estadisticas/Publicaciones/sites/mercado/2022/jrubikf1b31c8858155bdb0bed1e4e7d45a9e38faf2d78d.html"


resp = requests.get(url)
resp.encoding = resp.apparent_encoding 
html = resp.text


soup = BeautifulSoup(html, "html.parser")


table = soup.find("table")


renta = pd.read_html(str(table))[0]

C:\Users\noeli\AppData\Local\Temp\ipykernel_33468\1770819690.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  renta = pd.read_html(str(table))[0]

In [126]:
renta_actualizada = renta.rename(columns={"Unnamed: 0": "Provincias"})

In [127]:
renta_actualizada['Provincias'] = renta_actualizada['Provincias'].replace({
    "Asturias, Principado de": "Asturias",
    "Madrid, Comunidad de": "Madrid",
    "S.C.Tenerife": "Tenerife",
    "Murcia, Región de": "Murcia", "Alicante": "Alicante/Alacant", "Castellón": "Castellón/Castelló", "S.C.Tenerife": "Santa Cruz de Tenerife", "Valencia": "Valencia/València"
})

In [128]:
valores_a_borrar = ["Total","Andalucía", "Aragón", "Canarias", "Castilla y León", "Castilla - La Mancha", "Cataluña", "Comunitat Valenciana", "Extremadura","Galicia"]

renta_actualizada3 = renta_actualizada[~renta_actualizada['Provincias'].isin(valores_a_borrar)]

In [129]:
renta_actualizada3.drop(columns=["Asalariados", "Percepciones por persona", "Salarios"])

            Provincias  Salario Medio Anual
2              Almería               16.962
3                Cádiz               18.988
4              Córdoba               17.580
5              Granada               18.658
6               Huelva               16.190
7                 Jaén               16.012
8               Málaga               19.443
9              Sevilla               19.851
11              Huesca               21.026
12              Teruel               20.777
13            Zaragoza               23.346
14            Asturias               23.405
15       Balears,Illes               21.765
17          Las Palmas               19.889
18      S. C. Tenerife               19.267
19           Cantabria               22.036
21               Ávila               19.533
22              Burgos               23.002
23                León               21.389
24            Palencia               21.160
25           Salamanca               21.174
26             Segovia               20.391
27               Soria               21.720
28          Valladolid               23.407
29              Zamora               19.254
31            Albacete               19.680
32         Ciudad Real               19.438
33              Cuenca               18.728
34         Guadalajara               23.045
35              Toledo               20.266
37           Barcelona               26.736
38              Girona               21.836
39              Lleida               21.565
40           Tarragona               22.527
42    Alicante/Alacant               19.112
43  Castellón/Castelló               21.506
44   Valencia/València               22.248
46             Badajoz               17.040
47             Cáceres               17.811
49            A Coruña               23.456
50                Lugo               20.788
51             Ourense               20.355
52          Pontevedra               21.097
53              Madrid               29.447
54              Murcia               19.469
55           Rioja, La               21.257
56               Ceuta               23.841
57             Melilla               22.354

In [130]:
renta_actualizada2 = renta_actualizada3.sort_values(by="Provincias").reset_index(drop=True)

In [131]:
provincias_salarios = pd.merge(definitivo, renta_actualizada2, on="Provincias", how="outer")

In [132]:
provincias_salarios2 = provincias_salarios.drop(columns=["Asalariados", "Percepciones por persona", "Salarios"])

In [133]:
provincias3 = provincias_salarios2.rename(columns={"Total": "Personas Totales"})

In [134]:
import pandas as pd

In [135]:
aeropuerto = pd.read_excel("C:/Users/noeli/Downloads/aeropuertos_comerciales_españa.xlsx")

In [136]:
aeropuertos4 = aeropuerto.drop(columns=["Código IATA", "Ciudad principal", "Comunidad Autónoma"])

In [137]:
aeropuertos2 = aeropuertos4.rename(columns={"Provincia": "Provincias"})

In [142]:
local = pd.merge(provincias3, aeropuertos2, on= "Provincias", how= "outer" )

In [143]:
local

,Provincias,Hombres,Mujeres,Personas Totales,Salario Medio Anual,Aeropuerto
0,A Coruña,NaN,NaN,NaN,23.456,Aeropuerto de A Coruña
1,Albacete,193.205,193.259,386.464,19.680,NaN
2,Alicante,NaN,NaN,NaN,NaN,Aeropuerto de Alicante-Elche Miguel Hernández
3,Alicante/Alacant,932.018,949.744,1.881.762,19.112,NaN
4,Almería,373.136,358.656,731.792,16.962,Aeropuerto de Almería
...,...,...,...,...,...,...
65,Valencia/València,1.267.961,1.321.351,2.589.312,22.248,NaN
66,Valladolid,252.843,266.518,519.361,23.407,Aeropuerto de Valladolid
67,Zamora,83.551,85.174,168.725,19.254,NaN
68,Zaragoza,473.354,494.098,967.452,23.346,Aeropuerto de Zaragoza
69,Ávila,79.562,78.859,158.421,19.533,NaN

In [220]:
import pandas as pd

In [150]:
import pandas as pd

edad4 = pd.read_csv("C:/Users/noeli/Downloads/3199.csv", sep=';', on_bad_lines='skip')

In [176]:
edad_2022 = edad4[edad4['Periodo'] == 2022]
edad_= edad_2022[edad_2022['Sexo'] == "Ambos sexos"]
edad_ = edad_[edad_['Provincias'] != "Total Nacional"]
import re
edad_["Provincias"] = edad_["Provincias"].str.replace(r"^\d+\s*", "", regex=True)
edad_.rename(columns={"Total": "Edad Media de la Provincia"}, inplace=True)
edad_['Provincias'] = edad_['Provincias'].replace({
    "Coruña, A": "A Coruña"
})


edad_1 = edad_.drop(columns=["Sexo", "Periodo"])

In [177]:
edad_1

                  Provincias Edad Media de la Provincia
152                 Albacete                      44,14
302         Alicante/Alacant                      44,28
452                  Almería                      40,78
602              Araba/Álava                      45,05
752                 Asturias                      49,16
902                    Ávila                      48,24
1052                 Badajoz                      44,24
1202          Balears, Illes                      42,08
1352               Barcelona                      43,38
1502                 Bizkaia                      46,58
1652                  Burgos                      47,15
1802                 Cáceres                      46,93
1952                   Cádiz                      42,66
2102               Cantabria                      46,39
2252      Castellón/Castelló                      43,96
2402             Ciudad Real                      44,53
2552                 Córdoba                      44,14
2702                A Coruña                      47,71
2852                  Cuenca                      46,27
3002                Gipuzkoa                      45,63
3152                  Girona                      42,73
3302                 Granada                      43,16
3452             Guadalajara                      42,16
3602                  Huelva                      42,52
3752                  Huesca                      45,72
3902                    Jaén                      44,23
4052                    León                      49,68
4202                  Lleida                      43,72
4352                    Lugo                      50,45
4502                  Madrid                      43,02
4652                  Málaga                      42,87
4802                  Murcia                      41,18
4952                 Navarra                      43,74
5102                 Ourense                      51,19
5252                Palencia                      48,67
5402             Palmas, Las                      43,06
5552              Pontevedra                      46,51
5702               Rioja, La                      44,94
5852               Salamanca                      48,76
6002  Santa Cruz de Tenerife                      43,95
6152                 Segovia                      46,31
6302                 Sevilla                      42,18
6452                   Soria                      47,73
6602               Tarragona                      43,31
6752                  Teruel                       46,6
6902                  Toledo                      42,63
7052       Valencia/València                      43,87
7202              Valladolid                      46,71
7352                  Zamora                      51,48
7502                Zaragoza                      44,97
7652                   Ceuta                      38,26
7802                 Melilla                      36,45

In [178]:
final = pd.merge(local, edad_1, on= "Provincias", how= "outer" )

In [181]:
# Suponiendo que tienes esta lista de columnas
columnas = final.columns.tolist()

columnas.remove("Edad Media de la Provincia")

# Insertas al principio
columnas.insert(4, "Edad Media de la Provincia")

# Reordenas el DataFrame
final = final[columnas]

In [182]:
final

,Provincias,Hombres,Mujeres,Personas Totales,Edad Media de la Provincia,Salario Medio Anual,Aeropuerto
0,A Coruña,NaN,NaN,NaN,"47,71",23.456,Aeropuerto de A Coruña
1,Albacete,193.205,193.259,386.464,"44,14",19.680,NaN
2,Alicante,NaN,NaN,NaN,NaN,NaN,Aeropuerto de Alicante-Elche Miguel Hernández
3,Alicante/Alacant,932.018,949.744,1.881.762,"44,28",19.112,NaN
4,Almería,373.136,358.656,731.792,"40,78",16.962,Aeropuerto de Almería
...,...,...,...,...,...,...,...
65,Valencia/València,1.267.961,1.321.351,2.589.312,"43,87",22.248,NaN
66,Valladolid,252.843,266.518,519.361,"46,71",23.407,Aeropuerto de Valladolid
67,Zamora,83.551,85.174,168.725,"51,48",19.254,NaN
68,Zaragoza,473.354,494.098,967.452,"44,97",23.346,Aeropuerto de Zaragoza
69,Ávila,79.562,78.859,158.421,"48,24",19.533,NaN